.abilities__slogan {
  font-size: 24px;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  color: #283645;
}

.abilities__slogan-wrapper {
  margin-bottom: 119px;
}

.abilities__list {
  list-style: none;
  margin: 0;
  padding-left: 34px;
  padding-right: 34px;
}

.abilities__title {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.abilities__description {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}

.abilities__background {
  background-color: #f2f2f2;
}

.abilities__down-image {
  margin-left: 81px;
  margin-right: 81px;
}


.abilities__wrapper {
  height: 280px;
  overflow: hidden;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .abilities__slogan {
    font-size: 40px;
  }

  .abilities__background {
    display: flex;
    flex-direction: row-reverse;
  }

  .abilities__list {
    width: 50%;
  }

  .abilities__wrapper {
    width: 50%;
  }
}

@media (min-width: @desktop-width) {

  .abilities {
    margin-bottom: 73px;
  }

  .abilities__title {
    font-size: 30px;
    line-height: 30px;
  }

  .abilities__description {
    font-size: 18px;
    line-height: 30px;
    }

  .abilities__slogan {
    font-size: 50px;
    margin: 0;
  }

  .red-image,
  .black-image {
    display: block;
  }

  .abilities__background {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 163px;
    padding-right: 165px;
  }

  .abilities__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .abilities__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .abilities__slogan-wrapper {
    width: 731px;
    margin-left: 234px;
  }

  .abilities__down-image {
    margin: 0;
  }

  .abilities__item {
    margin-right: 90px;
  }

  .abilities__item:last-child {
    margin-right: 0;
  }
}
