.download-app {
  background-color: #1e2630;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 400px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
}

.download-app__header-image {
  margin-bottom: 25px;
}

.download-app__button {
  display: block;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  border: solid 3px #ffffff;
  border-radius: 35px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 17px;
  margin-bottom: 32px;
}

.download-app__comment {
  margin: 0;
}

.download-app__system-icons {
  margin-bottom: 28px;
}

.download-app__link--apple {
  margin-right: 34px;
}

.download-app__link--android {
  padding-right: 37px;
}

@media (min-width: @tablet-width) {
  .download-app {
    padding: 50px 50% 50px 0;
  }
}
