.header-nav {
  width: 320px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.15);
}

.header-nav__list {
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 320px;
}

.header-nav__toggle {
  position: absolute;
  right: 20px;
  top: 20px;
  background-image: url("../img/icon-menu-burger.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 24px;
  border: 0;
  padding: 0;
}

.nav__toggle-photo {
  display: block;
}

@media (min-width: @tablet-width) {
  .header-nav__list {
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .header-nav__list {
    display: flex;
    position: static;
    flex-wrap: wrap;
    width: 730px;
  }

  .header-nav__toggle {
    display: none;
  }

  .header-nav {
    width: auto;
  }

  .site-list__item {
    margin-right: 81px;
  }
}
