.page-header {
  background-color: rgba(0,0,0,0.3);
}

.page-header__logo {
  padding-left: 20px;
  padding-right: 225px;
  padding-top: 22px;
  padding-bottom: 25px;
}
.page-header a {
  color: #ffffff;
}
