
.header-title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  font-style: normal;
  line-height: normal;
  color: #ffffff;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}


.page-header {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header a {
  color: #ffffff;
}

.page-header__logo {
  height: 66px;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 110px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    display: flex;
  }
}
