.photo__slogan {
  font-size: 14px;
  line-height: 30px;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  color: #283645;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 56px;
}
.photo__user-name {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #283645;
}
.photo__user-text {
font-size: 14px;
line-height: 24px;
text-align: left;
font-style: normal;
font-weight: normal;
color: #283645;
}
.photo__user-like {
  font-size: 12px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  color: #d22856;
}
.photo__background-color {
  background-color: #f2f2f2;
  margin-left: 20px;
  margin-right: 20px;
}
