.reviews__user-name {
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.reviews__user-text {
  font-size: 14px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #283645;
}

.reviews__user-info {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  display: none;
}

.reviews__toggles {
  text-align: center;
  margin-bottom: 135px;
}

.reviews__slider,
.tariffs__slider {
  width: 8px;
  height: 8px;
  background-color: #283645;
  border-radius: 4px;
  border-color: #283645;
  opacity: 0.3;
  padding: 0;
  margin-right: 19px;
}

.reviews__slider--active,
.tariffs__slider--active {
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #283645;
  opacity: 1;
}

@media (min-width: @tablet-width) {
  .reviews__user-text {
    font-size: 18px;
  }

  .reviews__user-name {
    font-size: 20px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__user-info {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .reviews__user-name {
    font-size: 24px;
  }

  .reviews__user-info {
    font-size: 18px;
  }
}
