.reviews__user-name {
	font-size: 18px;
	line-height: 30px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: #000000;
}

.reviews__user-text {
	font-size: 14px;
	line-height: 30px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	color: #283645;
}
